<head>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
  <title>Easy Correspondente</title>

  <!-- Classic Meta Tags -->
  <meta name="description" content="Easy Correspondente: Encontre advogados em tempo real no fóruns e repartições públicas de todo o Brasil."/>
  <meta name="viewport" content="initial-scale=1.0"/>
  <meta name="keywords" content="advogados,correspondentes,diligentes,jurídicos">

  <!-- Open Graph Meta Tags -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Easy Correspondente"/>
  <meta property="og:description" content="Easy Correspondente: Encontre advogados em tempo real no fóruns e repartições públicas de todo o Brasil."/>
  <meta property="og:site_name" content="Easy Correspondente"/>
  <meta property="og:url" content="http://easycorrespondente.com.br/"/>
  <meta property="og:image" content="http://easycorrespondente.com.br/mesa.jpg"/>
  <meta property="fb:admins" content="100006090000201"/>

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Easy Correspondente"/>
  <meta name="twitter:description" content="Easy Correspondente: Encontre advogados em tempo real no fóruns e repartições públicas de todo o Brasil."/>
  <meta name="twitter:image" content="http://easycorrespondente.com.br/mesa.jpg"/>
</head>
