<template name="accessDenied">
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 col-padded'>
      <div class="well well-sm inner card-back">
        <div class="page-header">
          <h1>Acesso Negado! <br/><small>Realize o Login para acessar a área administrativa</small></h1>
        </div>
      </div>
    </div>
  </div>
</template>
