.navbar {
  background-color: rgba(29, 82, 120, 0.8) !important;
  border: 0px !important;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.3);
}

.navbar a {
  color: white !important;
}

textarea {
    resize: none;
}

body {
  background-color: transparent !important;
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.full {
  background: url('mesa.jpg') no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Page background-image landscape for iPad 3 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
  .full {
    -webkit-background-size: 2024px 768px !important;
    background-size: 2024px 768px !important;
    background: url('mesa.jpg') no-repeat center center fixed !important;
  }
}
/* Page background-image portrait for iPad 3 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {
  .full {
    -webkit-background-size: 2024px 768px !important;
    background-size: 2024px 768px !important;
    background: url('mesa.jpg') no-repeat center center fixed !important;
  }
}
/* Page background-image landscape for iPad 1/2 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
  .full {
    background: url('mesa.jpg') no-repeat center center fixed !important;
    -webkit-background-size: 2024px 768px !important;
    background-size: 2024px 768px !important;
  }
}
/* Page background-image portrait for iPad 1/2 */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .full {
    background: url('mesa.jpg') no-repeat center center fixed !important;
    -webkit-background-size: 5024px 2024px !important;
    background-size: 5024px 2024px !important;
  }
}
