<template name='header'>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" id="goHome">Home</a>
          </li>
          {{#unless adminRoute}}
            <li>
              <a href="#" id="showContato">Contato</a>
            </li>
          {{/unless}}
          {{#if logout}}
            {{#if adminRoute}}
              <li>
                <a href="#" class="logout">Logout</a>
              </li>
            {{else}}
              <li>
                <a href="#" class="portalAdmin">Portal Admin</a>
              </li>
            {{/if}}
          {{/if}}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</template>
