<template name="adminLogin">
  <div class='row' id='mainBckGrnd'>
    <div class='col-md-4 col-md-offset-4 row-padder-center'>
      <div class='well'>
        <form id='loginForm'>
          <div class='form-group'>
            <div class='controls'>
              <input type='email' name="email" placeholder='Email' class='form-control'>
            </div>
          </div>

          <div class='form-group'>
            <div class='controls'>
              <input type='password' name="password" placeholder='Password' class='form-control'>
            </div>
          </div>

          <input type='submit' value='Autenticar' class='btn btn-action btn-block'>
          <div id="spin" hidden>
            {{> spinner}}
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
