<template name="backcardNovaSenha">
  <div class='well'>
      <div class="page-header">
        <h1>Easy Correspondente <br/><small>Obrigado</small></h1>
      </div>
      <p>Sua senha foi redefinida com sucesso!</p>

      <p>Agora é só aguardar o email com a sua nova senha do Easy Correspondente.</p>
  </div>
</template>
