<template name="backcardConfirma">
  <div class='well'>
      <div class="page-header">
        <h1>Easy Correspondente <br/><small>Obrigado</small></h1>
      </div>
      <p>Obrigado! Seu pedido de Correspondente Jurídico foi confirmado!</p>

      <p>Agora é só aguardar profissionais aceitarem o serviço para você receber
        os dados e entrar em contato para negociar os serviços.</p>
  </div>
</template>
