<template name="backcard-thanks">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Easy Correspondente <br/><small>Obrigado</small></h1>
    </div>


    <ul class="media-list">
      <li class="media">
        <div class="media-left">
          <div class='circle-div'>
            <i class="fa fa-envelope-o fa-2x fa-media"></i>
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Para confirmar sua solicitação de CORRESPONDENTE JURÍDICO faltam 3 passos:</h4>
          <p>1 - Acesse agora seu e-mail cadastrado.</p>
          <p>2 - Procure na sua caixa de e-mail a mensagem enviada por Erik Cavalcante / Easy Correspondente e abra a mensagem.</p>
          <p>3 - Verifique as informações se estão corretas e Clique no botão CONFIRMAR SERVIÇO.</p>
        </div>
      </li>

      <li class="media">
        <div class="media-left">
          <div class='circle-div'>
            <i class="fa fa-mobile fa-3x fa-media"></i>
          </div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Use Nosso App</h4>
          Aproveite para receber solicitações de diligências quando estiver no Fórum, faça o download do nosso aplicativo.
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <a href="https://play.google.com/store/search?q=pub:EasyAdvocatus">
          <img alt="Get it on Google Play"
          src="https://developer.android.com/images/brand/pt-br_generic_rgb_wo_45.png" />
        </a>
      </div>

      <div class="col-md-6">
        <a href="#">
          <label>Em Breve:</label>
          <img alt="Get it on App Store"
          src="Download_on_the_App_Store_Badge_PTBR_135x40.svg" />
        </a>
      </div>
    </div>
  </div>
</template>
