<template name="backcardContato">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Easy Correspondente <br/><small>Entre em contato:</small></h1>
    </div>

    <form id='formContato'>
      <div class="row">
        <div class='form-group col-md-7'>
          <div class='controls'>
            <input name="nomeContato" class="form-control" placeholder="Nome Completo" type="text"/>
          </div>
        </div>

        <div class='form-group col-md-5'>
          <div class='controls'>
            <input name="emailContato" class="form-control" placeholder="Email" type="email"/>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <textarea name="mensagemContato" class="form-control" rows="10" placeholder="Sua mensagem..."></textarea>
      </div>

      <div class="row">
        <div class='col-md-4'>
          {{> reCAPTCHA}}
        </div>
        <div class='col-md-8'>
          <input type='submit' value='Enviar Mensagem' class='btn btn-action btn-lg btn-block'>
        </div>
      </div>

      <div id="spinEmail" hidden>
        {{> spinner}}
      </div>
    </form>

  </div>
</template>
