.modal-primary {
  background-color: #1d5278 !important;
}

#googlemaps {
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.modal-title {
  color: white !important;
  font-weight: bold !important;
}

.panel-config {
  background-color: rgba(29, 82, 120, 0.8) !important;
  color: white !important;
}

.flip {
  -webkit-perspective: 800;
  perspective: 800;

  position: relative;
  text-align: center;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {

  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {

  -webkit-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;

}
.flip .card .front {
  position: absolute;
  width: 100%;
  z-index: 1;

}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}

.col-padded {
  padding-top: 2.5em;
}

.btn-action {
  color: #ffffff !important;
  border-color: #ffffff !important;
  background-color: #4eab0c !important;
}

.circle-div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #1d5278;
  display: table;
}

.fa-media {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
  color: #f0f0f0 !important;
}

.media-list{
  text-align: left;
}

.card{
  height: 420px;
}

.media-list li {
  margin: 0 0 30px 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
