<template name='principal'>
  <div id="preload">
    {{load}}
    {{> preloadpage}}
  </div>
  <div id="content" hidden>
    <div class='row'>
      <div class='col-md-10 col-md-offset-1 col-padded'>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <div class="well inner card-front well-sm" style="display: inline-block">
                <div class='row-fluid'>
                  <div class='col-md-5 col-md-offset-1'>
                    <div class="page-header">
                      <a href="{{ pathFor 'principal' }}">
                        <img src="logo.png" height="100" width="240" alt="">
                      </a>
                    </div>
                    <ul class="media-list">
                      <li class="media">
                        <div class="media-left">
                          <div class='circle-div'>
                            <i class="fa fa-briefcase fa-2x fa-media"></i>
                          </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Diligências</h4>
                            Encontre profissionais enquanto estão em qualquer
                            Fórum do Brasil para realizar sua diligência.
                        </div>
                      </li>
                      <li class="media">
                          <div class="media-left">
                            <div class='circle-div'>
                              <i class="fa fa-envelope-o fa-2x fa-media"></i>
                            </div>
                          </div>
                          <div class="media-body">
                              <h4 class="media-heading">Notificacões</h4>
                              Ganhe tempo recebendo suas cópias processuais
                              para cumprir  prazos recebendo informações em tempo real.
                          </div>
                      </li>
                      <li class="media">
                          <div class="media-left">
                            <div class='circle-div'>
                                <i class="fa fa-mobile fa-3x fa-media"></i>
                            </div>
                          </div>
                          <div class="media-body">
                              <h4 class="media-heading">Use Nosso App</h4>
                              Aumente a sua produção e lucros do seu departamento
                              jurídico em apenas 5 minutos. {{#if exibirUsers}}
                              E junte-se a mais de <strong>{{numeroUsers}} usuários</strong>.{{/if}}
                          </div>
                      </li>
                    </ul>
                  </div>
                  <div class='col-md-5 col-padded col-md-offset-1'>
                    <form id='jobForm'>
                      <div class='form-group'>
                        <div class='controls'>
                          <div class="btn-group btn-block">
                            <button id='botaoServicos' type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                              {{{tipoServicoBotaoTexto}}}
                            </button>
                            <ul class="dropdown-menu btn-block" role="menu">
                              {{#each tipoServicos}}
                              <li>
                                <a href="#" class='tipoServicoSelect'>
                                  {{descricao}}
                                </a>
                              </li>
                              {{/each}}
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class='form-group form-datetime col-md-7'>
                          <div class='controls'>
                            <input class="set-due-date form-control datetimepicker" placeholder="Data limite" type="text"/>
                          </div>
                        </div>

                        <div class='form-group form-date col-md-7'>
                          <div class='controls'>
                            <input class="set-due-date form-control datepicker" placeholder="Data limite" type="text"/>
                          </div>
                        </div>

                        <div class='form-group col-md-5'>
                          <div class='controls'>
                            <input id='valorInput' name='valorJob' class="form-control" placeholder="Valor" type="text" required/>
                          </div>
                        </div>
                      </div>

                      <div class="form-group has-feedback">
                        <input type="text" placeholder="Endereço ou CEP" name="enderecoTypeahead" class="form-control typeahead" id="enderecoInput" aria-describedby="inputWarning2Status">
                        <span id="enderecoLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback hide" aria-hidden="true"></span>
                      </div>

                      <div class="row">
                        <div class='form-group col-md-4'>
                          <div class='controls'>
                            <input class="form-control" name="numero" placeholder="N°" type="text" required/>
                          </div>
                        </div>

                        <div class='form-group col-md-8'>
                          <div class='controls'>
                            <input class="form-control" name="complemento" placeholder="Complemento" type="text" required/>
                          </div>
                        </div>
                      </div>

                      <div class='form-group'>
                        <div class='controls'>
                          <input type='text' name="nome" placeholder='Nome' class='form-control' required>
                        </div>
                      </div>

                      <div class='form-group'>
                        <div class='controls'>
                          <input type='email' name="email" placeholder='Email' class='form-control' required>
                        </div>
                      </div>

                      <div class="row">
                        <div class='form-group col-md-7'>
                          <div class='controls'>
                            <input id='telefoneInput' type='text' name="telefone" placeholder='Telefone' class='form-control' required>
                          </div>
                        </div>

                        <div class='form-group col-md-5'>
                          <div class='controls'>
                            <input id="oabInput" type='text' name="oab" placeholder='OAB' class='form-control' required>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class='form-group col-md-7'>
                          <div class='controls'>
                            <select name="tipoOABs" class='form-control' required>
                              {{#each tipoOABs}}
                                {{#if checkTipos this}}
                                  <option value="{{id}}">{{descricao}}</option>
                                {{/if}}
                              {{/each}}
                            </select>
                          </div>
                        </div>

                        <div class='form-group col-md-5'>
                          <div class='controls'>
                            <select name="subseccaos" class='form-control' required>
                                {{#each subseccaos}}
                                  <option value="{{id}}">{{sigla}}</option>
                                {{/each}}
                            </select>
                          </div>
                        </div>

                        <div class='form-group'>
                          <div class='controls'>
                            <input id='checkTermos' type="checkbox" checked/>
                            Li e concordo com os <a href="#" id="termosDeUso">termos de uso</a>.
                          </div>
                        </div>
                      </div>

                      <input type='submit' value='Buscar Advogados!' class='btn btn-action btn-block'>
                      <div id="spin" hidden>
                        {{> spinner}}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="face back face-back">
              <div class="well well-sm inner card-back">
                <div class='row'>
                  {{> UI.dynamic template=backcardTemplate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="simpleModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">{{tittle}}</h4>
        </div>

        <div class="modal-body">
          <p>{{message}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>
