<template name="termosModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">Termos de Uso</h4>
        </div>

        <div class="modal-body">
          <p>{{> termos}}</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</template>


<template name="termos">
  <p>O easycorrespondente.com.br("Website") é pertencente e operado pela ERIK CAVALCANTE DE OLIVEIRA FILHO EIRELI ("JUS COACH"), E, registrada sob o CNPJ/MF , com sede a  Você pode entrar em contato conosco pelo e-mail: suporte@easycorrespondente.com.br.</p>

  <p>EasyCorrespondente.com.br é um Website que permite que advogados e sociedades de advogados se encontrem para a prestação de serviço de correspondente jurídico.</p>

  <p>Estes Termos e Condições de Uso, em conjunto com os demais contratos e a nossa Política de Privacidade, estabelecem os termos e condições aplicáveis à utilização de nosso Website e aos serviços que serão prestados pelo Easy Correspondente a Você. É muito importante que Você leia e compreenda estas regras, bem como outras regras que possam ser aplicáveis, incluindo aquelas advindas (i) da Lei nº 8.078/1990 ("Código de Defesa do Consumidor"), (ii) da Lei nº 8.904/1994 ("Estatuto da Ordem dos Advogados do Brasil") e (iii) do Código de Ética e Disciplina da Ordem dos Advogados do Brasil.</p>

  <p>É possível navegar pela maior parte do Website sem estar registrado na conta de usuário, caso em que serão aplicáveis as Condições Gerais (Parte I, abaixo). Para se listar como correspondente, publicar artigos e para acessar certas áreas do Website, será requerido que Você esteja "logado" na conta de usuário e adquira um plano para sua listagem no Website ("Plano"), caso em que você estará também anuindo com os Termos e Condições Adicionais (Parte II abaixo).</p>

  <p>Estes Termos e Condições de Uso podem ser alterados a qualquer momento, e Você será previamente informado caso isso aconteça. Caso Você não concorde com alguma mudança feita nestes termos, recomendamos que encerre sua conta e interrompa a utilização do Website. A última versão destes Termos e Condições de Uso sempre estará disponível no endereço: https://easycorrespondente.com.br/termos-uso. Salientamos que tais alterações serão aplicáveis aos nossos serviços prestados a Você desde o momento em que forem disponibilizados no Website. Algumas condições disponíveis em avisos legais em outros locais do Website podem substituir ou complementar estes Termos e Condições de Uso.</p>

  <p>Qualquer pessoa que utilizar nossos serviços, o que inclui a simples visita ao Website, assume e expressamente concorda com estes Termos e Condições de Uso.</p>

  <hr/>
  PARTE I
  <hr/>
  <b>CONDIÇÕES GERAIS</b>
  <br/>
  <br/>

  <p>1. Sobre O EasyCorrespondente</p>

  <p>1.1 O EasyCorrespondente não é um intermediário, agenciador ou parte na contratação de correspondentes jurídicos. O site oferece um portal pelo qual advogados e sociedade de advogados possam encontrar correspondentes jurídicos ("Correspondentes") com maior facilidade, através de simples listagens e geolocalização mobile de profissionais, sem qualquer envolvimento do Website na contratação destes profissionais ou sociedades de profissionais.</p>

  <p>1.2 O Easy Correspondente não cobra quaisquer valores diretamente dos advogados que utilizam o Website para buscar profissionais. NossoWebsite não é remunerado, Nenhuma pessoa além do JurídicoCorrespondentes está autorizada a cobrar taxas de Você em nome do site.</p>

  <p>1.3 O Easy Correspondente não se destina a contratação de serviços jurídicos por clientes finais, e sim, apenas por profissionais da área jurídica que necessitem de serviços de correspondente junto aos nossos Correspondentes. O site não se responsabiliza e, quando possível, se reservará o direito de impedir que solicitações em infringência a este item sejam feitas através do Website.</p>

  <p>2. Limitação de Responsabilidades</p>

  <p>2.1 Em função do disposto no item 1.1, acima, o Easy Correspondente não é responsável:</p>

  <p>2.1.1 Por qualquer direito ou obrigação relativos à eventual contratação de assessoria jurídica pelo Website, incluindo, mas não se limitando ao pagamento de honorários ou a realização dos serviços contratados junto aos Correspondentes.</p>

  <p>2.1.2 Pela qualidade dos serviços prestados pelos usuários listados como Correspondentes.</p>

  <p>2.1.3 Pela precisão ou veracidade dos dados ou das recomendações dos Correspondentes.</p>

  <p>2.1.4 Pela observância das condutas e regras da Ordem dos Advogados do Brasil ("OAB") pelos Correspondentes.</p>

  <p>3. Disponibilidade do Website</p>

  <p>3.1 Iremos empreender seus melhores esforços para garantir a maior disponibilidade possível do Website e de seus serviços. Todavia, nós não somos responsáveis por qualquer indisponibilidade do Website ou de seus serviços, por qualquer período ou momento.</p>

  <p>3.2	O acesso ao Website pode ser interrompido, suspenso ou ficar intermitente temporariamente, sem qualquer aviso prévio, em caso de falha de sistema, manutenção, alteração de sistemas, ou por qualquer motivo que escape ao nosso controle.</p>

  <p>4. Conteúdo</p>

  <p>4.1 O Easy Correspondente irá se esforçar para manter o conteúdo do Website atualizado e completo, livre de quaisquer defeitos ou vírus. Contudo, o JurídicoCorrespondentes não é responsável por esses e outros possíveis problemas. O JurídicoCorrespondentes poderá alterar o conteúdo do Website a qualquer momento, sem prévio aviso.</p>

  <p>4.2 O Easy Correspondente oferece a possibilidade dos Correspondentes publicarem artigos e textos que possam ser do interesse dos usuários do Website.</p>

  <p>4.2.1 As opiniões e posições apresentadas nestes artigos não correspondem, necessariamente, a posição do Website, que não terá qualquer responsabilidade sobre o conteúdo gerado por terceiros.</p>

  <p>4.2.2 O EasyCorrespondente poderá, a seu exclusivo critério, realizar periodicamente uma triagem sobre o conteúdo publicado, o que não significa qualquer tipo de endosso, apoio ou concordância do Website com o conteúdo disponível.</p>

  <p>4.2.3 A reprodução de qualquer texto do Website depende de prévia e expressa permissão do respectivo autor e, se for o caso, também do Website, conforme descrito nesta página, sem prejuízo da devida menção aos nomes do autor e da fonte.</p>

  <p>4.2.4 O EasyCorrespondente exige que todos os Correspondentes que publiquem seus artigos no Website tenham os direitos para fazê-lo. Caso Você encontre no Website algum artigo, texto ou outro conteúdo que constitua plágio ou violação de direito de terceiro, não hesite em entrar em contato conosco. Para comunicar uma violação, acesse o link: https://easycorrespondente.com.br/contato.</p>

  <p>4.2.5 A reprodução de qualquer texto do Website depende de prévia e expressa permissão do respectivo autor e, se for o caso, também do Website, conforme descrito nesta página, sem prejuízo da devida menção aos nomes do autor e da fonte.</p>

  <p>4.3 O usuário concorda em usar este Website de boa-fé, sem usar, carregar, transmitir ou enviar do Website ou para o Website qualquer material:</p>

  <p>4.3.1 Que seja de cunho violento ou ameaçador, difamatório, obsceno, ofensivo, pornográfico, abusivo, passível de incitar qualquer forma de ódio racial, discriminatório ou em violação de privacidadede terceiro.</p>

  <p>4.3.2 Para o qual não tenham sido obtidas pelo usuário todas as licenças e/ou aprovações necessárias.</p>

  <p>4.3.3 Que constitua ou incite condutas que possam ser consideradas ilícitos criminais ou civis, que violem direitos de terceiros seja no Brasil ou no exterior ou que sejam meramente ilegais sob qualquer outra forma.</p>

  <p>4.3.4 Que sejam tecnicamente danosas, incluindo, mas não limitado a vírus de computador, macros, "cavalos de tróia", worms, componentes maliciosos, dados corrompidos e outros programas ou dados de computador maliciosos ou que sejam projetados para interferir, interromper ou derrubar as operações normais de um computador.</p>

  <p>4.3.5 Que tenha como objetivo fraudar, dissimular ou comprometer o bom funcionamento do Website ou a escolha dos usuários quanto à contratação de Correspondentes, seja pela criação de perfis falsos, violação de protocolos de segurança ou qualquer outro meio.</p>

  <p>4.4 Você deve zelar para que seu uso do Website e dos serviços não seja prejudicial à estabilidade e disponibilidade destes. Caso isso ocorra, Você poderá ser responsabilizado pelos prejuízos a que der causa.</p>

  <p>4.5 O Easy Correspondente poderá ser requerido a cooperar com autoridades e com diligências judiciais que visem a identificar os usuários que atuem em descumprimento com as disposições deste item 4.</p>

  <p>5. Direitos de Propriedade Intelectual</p>

  <p>5.1 O uso comercial do nome, dos desenhos e da expressão "Easy Correspondente" como nome empresarial, marca, ou nome de domínio, bem como os conteúdos das telas relativas aos serviços do software assim como os programas, bancos de dados, documentos e demais utilidades e aplicações que permitem ao usuário acessar e usar sua conta de usuário são de propriedade de ERIK CAVALCANTE DE OLIVEIRA FILHO EIRELI e estão protegidos por todas as leis e tratados aplicáveis.</p>

  <p>5.2 O uso indevido e a reprodução total ou parcial dos conteúdos referidos no item 5.1 são proibidos. Caso deseje utilizar algum destes conteúdos, Você deverá entrar em contato conosco antes de fazê-lo. Usar qualquer conteúdo aqui mencionado sem a nossa prévia e expressa autorização poderá acarretar em responsabilizações penais e civis.</p>

  <p>6. Links</p>

  <p>6.1 Em virtude de nossas parcerias ou por acreditarmos que possa ser de seu interesse, nós poderemos "linkar" em nosso Website, a nosso exclusivo critério, outros Websites e funcionalidades da internet, sem que isso signifique que esses Websites sejam de propriedade ou operados pelo Easy Correspondente.</p>

  <p>6.2 O Easy Correspondente não será responsável pelos conteúdos, práticas e serviços ofertados por estes Websites.</p>

  <p>6.3 A disponibilização de links para outros Websites não implica em relação de sociedade, de supervisão, de cumplicidade, solidariedade ou de garantia do JurídicoCorrespondentes para com esses Websites e seus conteúdos.</p>

  <p>7. Privacidade</p>

  <p>7.1 A privacidade dos usuários é muito importante para o Easy Correspondente. Ao nos prover com suas informações pessoais, Você nos autoriza a divulgar e/ou utilizar estas informações estritamente nos termos previstos na nossa Política de Privacidade, que está disponível no Website: www.easycorrespondente.com.br</p>

  <p>8. Rescisão</p>

  <p>8.1 Para promover o bom funcionamento e qualidade dos serviços do Website, o Easy Correspondente se reserva no direito de, sem a necessidade de notificação prévia, impedir ou interromper o acesso do usuário que, segundo o site, estiver atuando de qualquer forma a violar qualquer disposição destes Termos e Condições de Uso, da Política de Privacidade ou de qualquer contrato celebrado por meio do Website.</p>

  <p>9. Demais Condições</p>

  <p>9.1 O Easy Correspondente é uma empresa brasileira e o Website e seus serviços são criados e mantidos em fiel cumprimento às leis brasileiras e demais tratados que são incorporados à jurisdição brasileira. Caso Você esteja usufruindo de nossos serviços fora do Brasil, Você será responsável pelo cumprimento das leis locais, na medida em que forem aplicáveis.</p>

  <p>9.2 Caso o Easy Correspondente deixe de exercer qualquer direito previsto nestes Termos e Condições de Uso, isto não deverá ser interpretado como uma renúncia, abdicação ou revogação de disposição constante destes Termos e Condições de Uso.</p>

  <p>9.3 Todos os itens destes Termos e Condições de Uso serão regidos pelas leis vigentes da República Federativa do Brasil. Para dirimir quaisquer controvérsias é eleito o Foro da Cidade de Goianinha no Estado de Rio Grande do Norte, exceção feita a reclamações apresentadas por usuários que se enquadrem no conceito legal de consumidores, que poderão submeter suas queixas que não encontrarem solução amigável ao foro da cidade em que forem radicados, conforme artigo 101, I do Código de Defesa do Consumidor.</p>

  <hr/>
  <h3>PARTE II</h3>
  <hr/>
  <p><b>TERMOS E CONDIÇÕES ADICIONAIS</b></p>

  <p>Quando Você estiver usufruindo das funcionalidades do Website para as quais é necessário estar "logado" em uma conta de usuário, deverão ser observados estes Termos e Condições Adicionais.</p>

  <p>10. Preços e Pagamento</p>

  <p>10.1 O Correspondente que criar uma conta de usuário e contratar qualquer dos Planos deve pagar a taxa de manutenção correspondente ao Plano escolhido, podendo tal pagamento ser parcelado ou pago à vista conforme opções disponibilizadas pelo meio de pagamento escolhido pelo Correspondente.</p>

  <p>10.2 Se o JurídicoCorrespondentes não receber o pagamento da taxa de manutenção mensal na data de pagamento, o JurídicoCorrespondentes poderá, a seu exclusivo critério, inabilitar a conta do Correspondente, e estará isento de prover qualquer dos serviços do Website enquanto o Correspondente estiver em débito.</p>

  <p>10.2.1 O atraso ou irregularidade no pagamento de qualquer valor devido pelo Correspondente acarretará em multa no valor de 10% (dez por cento), e juros moratórios de 2% (dois por cento) ao mês pro rata die, incidentes ambos sobre o montante total devido.</p>

  <p>11.	Vigência e Rescisão</p>

  <p>11.1 O Plano selecionado pelo Correspondente permanecerá em vigor pelo número de meses contratados, a partir da data de início dos pagamentos pelos serviços disponibilizados pelo Website ("Período de Contratação").</p>

  <p>11.1.1 Findo o Período de Contratação, o Plano poderá renovado automaticamente, por igual período, podendo ser rescindido de pleno direito pelo Correspondente e pelo Easy Correspondente mediante notificação por e-mail enviada a outra parte com pelo menos 10 (dez) dias prévios ao fim do Período de Contratação.</p>

  <p>11.2 A Rescisão do Plano por iniciativa do Correspondente antes de findo o Período de Contratação ensejará o pagamento pelo Correspondente ao EasyCorrespondente dos seguintes valores:</p>

  <p>11.2.1 Valor pro rata die dos dias já utilizados do Plano contratado; e;</p>

  <p>11.2.2 Metade do valor pro rata de correspondente aos dias remanescentes do Período de Vigência do Plano contratado.</p>

  <p>11.3 No caso de rescisão solicitada pelo Correspondente e em razão do meio de pagamento escolhido por este, se faça necessária a devolução de quaisquer valores por parte do Easy Correspondente ao Correspondente, tal devolução poderá ocorrer em até 7 (sete) dias úteis contados do dia útil seguinte ao recebimento do e-mail em que o Correspondente proveu seus dados bancários a equipe do Easy Correspondente (fale conosco pelo e-mail: suporte@easycorrespondente.com.br.</p>

  <p>11.3.1 Para que seja feita a devolução de valores de que trata este item, o Correspondente deverá prover, além de seus dados pessoais, também os dados bancários (nº do banco, nº da agência e nº da conta corrente ou poupança) de conta de sua titularidade. Não serão feitas devoluções em contas de titularidade diversa da do Correspondente cujo Plano esteja sendo cancelado.</p>

  <p>12. Cadastro e Registro</p>

  <p>12.1 Quando Você realiza o seu cadastro no Website, Você atesta que todos os dados fornecidos por Você são verdadeiros, completos e precisos.</p>

  <p>12.1.1 Prover informações incompletas, imprecisas ou falsas constitui violação dos deveres destes Termos e Condições de Uso, estando o usuário inteiramente responsável pelos danos a que tal violação der causa.</p>

  <p>12.1.2 O Easy Correspondentes pode necessitar de mais informações e documentos sobre Você a qualquer tempo, seja para melhor identificá-lo ou para conduzir diligências internas, caso em que Você será requerido a fornecê-las. Não fornecer prontamente tais informações e documentos quando requisitado constituirá violação destes Termos e Condições de Uso.</p>

  <p>12.2 As informações que Você utilizar para preencher o nosso cadastro podem mudar, e Você assume o compromisso de mantê-las sempre atualizadas, alterando-as tão logo ocorra alguma modificação.</p>

  <p>12.3 O Easy Correspondente poderá se valer de todas as formas lícitas para verificar, a qualquer tempo, se as informações que Você nos proveu são verdadeiras.</p>

  <p>12.3.1 Se o JurídicoCorrespondentes constatar que suas informações são de alguma forma incompletas, imprecisas ou falsas, Você poderá ter sua conta suspensa ou cancelada, a exclusivo critério doJurídicoCorrespondentes, sem prejuízos de outras medidas que sejam aplicáveis, caso em que não serão devidos quaisquer reembolsos.</p>

  <p>12.4 O cadastro no Website é pessoal e intransferível.</p>

  <p>12.5 Cada usuário só poderá manter um único cadastro junto ao Website.</p>

  <p>12.6 O JurídicoCorrespondentes emprega seus melhores esforços para garantir a segurança do seu cadastro, contudo,o sigilo e a segurança do seu nome de usuário e senha são de sua única e exclusiva responsabilidade.</p>

  <p>13. Condições para a criação e Manutenção de Perfis de Correspondente</p>

  <p>13.1 A OAB permite que advogados e sociedades de advogados anunciem seus serviços, porém existem certas restrições. Você se compromete a observar as regras relativas à publicidade, informação e propaganda da advocacia, em especial aquelas advindas do Estatuto, do Código de Ética e Disciplina http://www.oab.org.br/content/pdf/legislacaooab/codigodeetica.pdf e do Provimento n.94/2000 da OAB http://www.oabsp.org.br/tribunal-de-etica-e-disciplina/legislacao/provimentos-do-conselho-federal.</p>

  <p>13.1.1 O EasyCorrespondente poderá, a seu exclusivo critério, suspender, excluir ou cancelar os perfis dos Correspondentes que não observem as regras previstas neste item 12 ou as demais regras previstas nestes Termos e Condições de Uso, sem que se façam devidas quaisquer reparações, reembolsos ou indenizações.</p>

  <p>13.1.2 O seu uso das ferramentas e funcionalidades do Website em descumprimento com as regras referidas neste item pode acarretar em sanções disciplinares e responsabilizações civis e penais. Você expressamente reconhece ser o único responsável por essas sanções e responsabilizações, mantendo o JurídicoCorrespondentes indene de quaisquer prejuízos advindos de sua ação ou omissão no uso do Website.</p>

  <p>13.2 A criação e manutenção do perfil de Correspondente está condicionada à compra de um de nossos Planos.</p>

  <p>13.2.1 A exposição do perfil de Correspondente é condicionada ao pagamento dos valores relativos ao Plano escolhido. O JurídicoCorrespondentes poderá suspender o seu perfil caso o pagamento não seja efetuado, nos termos da Cláusula 10.2 ou a compra de um Plano não seja renovada.</p>

  <p>13.2.2 Os Planos poderão incluir a atribuição de prioridade na exibição do perfil do Correspondente sobre os demais perfis listados. Entretanto, a ordem de exibição de um perfil também poderá ser alterada em função dos critérios disponíveis no item 13.4, abaixo.</p>

  <p>13.2.3 A exibição do seu perfil poderá ser suspensa ou cancelada também em caso de descumprimento destes Termos de Uso, sem que se faça devido qualquer reembolso por parte do EasyCorrespondente a Você.</p>

  <p>13.3 O JurídicoCorrespondentes não garante ao Correspondente:</p>

  <p>13.3.1 Qualquer exclusividade geográfica, temática ou de qualquer outra sorte;</p>

  <p>13.3.2 Qualquer direito de reembolso por arrependimento na aquisição de um Plano, para além dos direitos previstos em lei. Qualquer devolução de valores para além das requeridas por lei será feita por mera liberalidade do EasyCorrespondente;</p>

  <p>13.3.3 A percepção de qualquer incremento em sua clientela; e</p>

  <p>13.3.4 A idoneidade, solvência ou adimplência dos usuários que venham a entrar em contato através da visualização de um perfil no Website.</p>

  <p>13.4 A ordem de exibição do seu perfil no nosso Website poderá variar de acordo com os seguintes critérios:</p>

  <p>13.4.1 Prioridade ou destaque de exibição do Plano adquirido;</p>

  <p>13.4.2 Recomendações recebidas dos demais usuários;</p>

  <p>13.5 O EasyCorrespondente disponibiliza aos Correspondentes a possibilidade de publicar artigos e outros conteúdos de sua autoria, que poderão ser visualizados pelos demais usuários do Website.</p>

  <p>13.5.1 O Correspondente deverá ser o exclusivo autor do texto ou artigo publicado no Website, e será livre para exercer todos os direitos patrimoniais e morais dispostos na Lei n. 9.610/1998.</p>

  <p>13.5.2 O JurídicoCorrespondentes é titular dos direitos autorais sobre a coletânea de textos publicados no site (Lei n. 9.610/1998, arts. 5º, VIII, h; 7º, XIII; 11, parágrafo único; 17, §2°; 18 e 87).</p>

  <p>13.5.3 Ao enviar um artigo ou texto, o Correspondente expressamente autoriza a sua divulgação pelo Website.</p>

  <p>13.5.4 A reprodução de qualquer texto do Website depende de prévia e expressa permissão do respectivo autor e, se for o caso, também doWebsite, conforme descrito nesta página, sem prejuízo da devida menção aos nomes do autor e da fonte.</p>

  <p>13.5.5 O EasyCorrespondente não exige que o texto ou artigo publicado no Website seja exclusivo ou inédito.</p>

  <p>13.5.6 O EasyCorrespondente poderá realizar uma triagem sobre o conteúdo enviado, sem que isso signifique qualquer tipo de concordância ou endosso quanto as posições tomadas pelos respectivos autores.</p>

  <p>13.6 O EasyCorrespondente poderá, a qualquer momento e a seu exclusivo critério e sempre com vistas a aprimorar a experiência dos usuários, adicionar ou remover conteúdos e funcionalidades do Website sem que isso caracterize, sob qualquer forma, ofensa a direito adquirido dos usuários ou Correspondentes.</p>
</template>
