<template name="administrativo">
  {{#if loading}}
  <div class='row'>
    <div class='col-md-12 col-padded'>
      <div class='panel panel-default admin-panel'>
        <div class='panel-body'>
          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="presentation active"><a href="#">Home</a></li>
            <li role="presentation" class="presentation"><a href="#">Despachantes</a></li>
            <li role="presentation" class="presentation"><a href="#">Promocoes</a></li>
          </ul>
        </div>
        {{> UI.dynamic template=currentTemplate}}
        <div id="spin-admin" hidden>
          {{> spinner}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>

<template name='home'>
  <div class='row-fluid'>
    <div class='col-md-6'>
      <div class="panel panel-default">
        <div class="panel-heading panel-config">Preços</div>
        <div class="panel-body">
          <div class='col-md-12'>
            <table class='table'>
              <thead>
                <tr>
                  <th>Servico</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                {{#each servicos}}
                <tr>
                  <td>{{descricao}}</td>
                  <td><a href="#" class='servicoValor'>{{money valor}}</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class='col-md-6'>
      <div class="panel panel-default">
        <div class="panel-heading panel-config">Configurações</div>
        <div class="panel-body">
          <div class='col-md-12'>
            {{#each configuracoes}}
              <div class="row">
                <div class='col-md-4'>
                  <input type="checkbox" class="configBox" value="" {{checkConfig valor}}>
                </div>
                <div class='col-md-8'>
                  {{descricao}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="promocoes">
  <div class='row-fluid'>
    <div class='col-md-6 col-md-offset-6'>
      <div class="input-group">
        <input id="buscar-promocao" type="text" class="form-control" placeholder="Buscar">
        <span class="input-group-btn">
          <button class="btn btn-default search" type="button"><i class="glyphicon glyphicon-search"></i></button>
          <button class="btn btn-default refresh" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
          <button type="button" class="btn btn-default novaPromo">
            <i class="glyphicon glyphicon-plus"></i> Nova Promocao
          </button>
        </span>
      </div>
    </div>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Conteudo</th>
          </tr>
        </thead>
        <tbody>
          {{#each promocoes}}
          <tr>
            <td>{{titulo}}</td>
            <td>{{conteudo}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <nav>
        <ul class="pager">
          <li class="previous" ><a href="#"><span aria-hidden="true">&larr;</span> Voltar</a></li>
          <li class="next"><a href="#">Proximo <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<template name="promoModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">Crie uma nova promocao</h4>
        </div>

        <div class="modal-body">
          <form id='promocaoForm'>
            <div class='form-group'>
              <div class='controls'>
                <input class="form-control" name='titulo' placeholder="Titulo" type="text"/>
              </div>
            </div>

            <div class='form-group form-date'>
              <div class='controls'>
                <textarea id="editor"></textarea>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" form="promocaoForm" class="btn btn-primary">Criar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editarPrecoModal">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">Editar Valor: {{descricao}}</h4>
        </div>

        <div class="modal-body">
          <form id='editarPrecoForm'>
            <label for="valorServico">Novo Valor:</label>
            <input id="valorServico" class="form-control"
            name="valorServico"
            placeholder="Novo Valor do Servico" type="text"
            required/>
          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" form="editarPrecoForm" class="btn btn-primary">Atualizar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editarDespachante">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header modal-primary">
          <h4 class="modal-title">Editar Despachante: {{user.nome}}</h4>
        </div>

        <div class="modal-body">
          <form id='editarDespachante'>
            <label for="emailInput">Email:</label>
            <input id="" class="form-control"
            name="emailInput"
            placeholder="email" value="{{user.email}}" type="text"
            required/>

            <label for="telefoneInput">Telefone:</label>
            <input id="telefoneInput" class="form-control"
            name="telefoneInput"
            placeholder="Telefone" value="{{user.telefone}}" type="text"
            required/>

            <div class="checkbox">
              <label>
                <input name="deleteInput" id="deleteDespachante"
                type="checkbox"> Deletar?
              </label>
            </div>

            <div id="alertDelete" hidden>
              <p class="bg-danger">ATENÇÃO!, O Despachante {{user.nome}} será deletado permanentemente!</p>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="submit" form="editarDespachante" class="btn btn-primary">Atualizar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>
</template>


<template name='despachantes'>
  <div class='row-fluid'>
    <div class='col-md-6 col-md-offset-5'>
      <div class="input-group">
        <input id="buscar-despachante" type="text" class="form-control" placeholder="Buscar">
        <span class="input-group-btn">
          <div class="btn-group btn-block">
            <button id='botaoServicos' type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              {{{tipoOrdem}}}
            </button>
            <ul class="dropdown-menu btn-block" role="menu">
              <li>
                <a href="#" class='tipoOrdem'>
                  Recentes
                </a>
              </li>
              <li>
                <a href="#" class='tipoOrdem'>
                  Alfabetica
                </a>
              </li>
              <li>
                <a href="#" class='tipoOrdem'>
                  Ativados
                </a>
              </li>
              <li>
                <a href="#" class='tipoOrdem'>
                  Desativados
                </a>
              </li>
            </ul>
          </div>
          <button class="btn btn-default search" type="button"><i class="glyphicon glyphicon-search"></i></button>
          <button class="btn btn-default refresh" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
        </span>
      </div>
    </div>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Numero OAB</th>
            <th>Tipo OAB</th>
            <th>Subseccao</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each despachantes}}
            <tr id="{{id}}-{{returnAuth autorizado}}">
              <td><a href="#" class='editarDespachante'>{{nome}}</a></td>
              <td>{{email}}</td>
              <td>{{phone telefone}}</td>
              <td>{{numerooab}}</td>
              <td>{{tipooab.descricao}}</td>
              <td>{{subseccao.sigla}}</td>
              <td>
                {{#if autorizado}}
                  <button class='btn btn-small btn-danger action'>Desautorizar</button>
                {{else}}
                  <button class='btn btn-small btn-primary action'>Autorizar</button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <nav>
        <ul class="pager">
          <li class="previous" ><a href="#"><span aria-hidden="true">&larr;</span> Voltar</a></li>
          <li class="next"><a href="#">Proximo <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</template>
